{% extends 'base.html' %}
{% load static %}

{% block title %}
    Course detail
{% endblock %}

 {% block body %}
<!-- Page Banner Start -->
{% if course_det %}

        <div class="section course-single-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Page Breadcrumb Start -->
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"> {{course_det.name}}</li>
                        </ul>
                        <!-- Page Breadcrumb End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Course Banner Start -->
        <div class="section single-course-banner-section" style="background-image: url({% static 'assets/images/bg/banner-2.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <!-- Single Course Content Start -->
                        <div class="single-course-banner-content">
                           
                            <h3 class="title">{{course_det.name}}</h3>
                            <p>{{course_det.desc|truncatewords:7}}</p>
                        </div>
                        <!-- Single Course Content End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Course Banner End -->

        <!-- Single Course Start -->
        <div class="section single-course-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Single Course Wrapper Start -->
                        <div class="single-course-wrapper">
                            <!-- Single Course Description Start -->
                            <div class="single-course-description">
                                <h4 class="title">Description</h4>
                                <p>{{course_det.desc}} </p>
                            </div>
                            {% endif %}

                            <!-- Single Course Description End -->
                            <!-- Single Course Benefits Start -->
                            <div class="single-course-benefits-wrap">
                                <h4 class="title">Jobs related</h4>
                                <ul class="course-benefits-list">
                                    {% if job %}
                                    {% for j in job %}
                                    <li>{{j.name}}</li>
                                    {% endfor %}
                                    {% endif %}
                                    
                                </ul>
                            </div>
                            <!-- Single Course Benefits End -->
                        </div>
                        <!-- Single Course Wrapper End -->
                    </div>
                    <div class="col-lg-4">
                        <!-- Single Course Sidebar Start -->
                        <div class="single-course-sidebar">
                            <div class="single-course-sidebar-wrapper">
                                <!-- Sidebar Widget Start -->
                                
                            </div>
                        </div>
                        <!-- Single Course Sidebar End -->
                    </div>
                </div>
            </div>

        </div>

        <!-- Single Course End -->

       {% endblock %}