{% extends 'base.html' %}
{% load static %}

{% block title %}
    University Courses
{% endblock %}

 {% block body %}
        <!-- Hero Start -->
        <div class="hero-section-4 section" style="background-image: url({% static 'assets/images/l-effect.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Hero Content Start -->
                        <div class="hero-content-4" data-aos="fade-up" data-aos-delay="400">
                            <h2 class="title">World's most popular <br> <span>Learning platform</span></h2>
                            <p class="text">You can start and finish one of these popular courses in under a day - for free! Check out the list below.. Take the course for free</p>
                            <div class="hero-form">
                                <form action="#">
                                    <input type="text" placeholder="What do you want to learn?">
                                    <button class="search" type="submit"><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                            <p>Getting started with eduent is easy</p>
                        </div>
                        <!-- Hero Content End -->
                    </div>
                    <div class="col-lg-6">
                        <!-- Hero Image Start -->
                        <div class="hero-4-img text-center text-lg-end">
                            <img src="{% static 'assets/images/hero-4.png' %}" alt="">
                        </div>
                        <!-- Hero Image End -->
                    </div>
                </div>

            </div>


        </div>
        <!-- Hero End -->

             <!-- Single Course Start -->
        <div class="section single-course-section">
            <div class="container">
                <div class="row  d-flex justify-content-center">
                    <div class="col-lg-8 ">
                        <!-- Single Course Wrapper Start -->
                        <div class="single-course-wrapper d-flex ">
                            <!-- Single Course Description Start -->
                            <div class="single-course-description">
                                <h2 class="section-title text-center"> ABOUT </h2>
                                <p>This tutorial will help you learn quickly and thoroughly. Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. </p>
                                <p>You'll be exposed to principles and strategies, but, more importantly, you'll learn how to actually apply these abstract concepts by coding three different websites for three very different audiences. Lorem ipsum is dummy text used in laying out print, graphic or web designs Lorem ipsum</p>
                            </div>
                            <!-- Single Course Description End -->
                    
                        </div>
                        <!-- Single Course Wrapper End -->
                    </div>
                </div>
            </div>

        </div>
        <!-- Single Course End -->



         <!-- Blog Start -->
         <div class="section blog-section section-padding">
            <div class="container">
                <div class="blog-wrapper">
                    <!-- Section Title Start -->
                    <div class="section-title text-center">
                        <h2 class="title">Faculties</h2>
                    </div>
                    <!-- Section Title End -->
                    <!-- Blog Wrapper Start -->
                    <div class="blog-content-wrapper">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Single Blog Start -->
                                <div class="single-blog">
                                    <!-- Blog Content Start -->
                                    <div class="blog-content">
                                        <div class="blog-author-category">
                                            <a class="category color-1" href="{% url 'course_det' %}">Faculty of art</a>
                                        </div>
                                        <p class="title"><a href="{% url 'course_det' %}">Educational technology and mobile learning</a></p>
                                        <a class="read-more" href="{% url 'course_det' %}">Read More</a>
                                    </div>
                                    <!-- Blog Content End -->
                                </div>
                                <!-- Single Blog End -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Single Blog Start -->
                                <div class="single-blog">
                                    <!-- Blog Content Start -->
                                    <div class="blog-content">
                                        <div class="blog-author-category">
                                            <a class="category color-1" href="{% url 'course_det' %}">Faculty of art</a>
                                        </div>
                                        <p class="title"><a href="{% url 'course_det' %}">Educational technology and mobile learning</a></p>
                                        <a class="read-more" href="{% url 'course_det' %}">Read More</a>
                                    </div>
                                    <!-- Blog Content End -->
                                </div>
                                <!-- Single Blog End -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Single Blog Start -->
                                <div class="single-blog">
                                    <!-- Blog Content Start -->
                                    <div class="blog-content">
                                        <div class="blog-author-category">
                                            <a class="category color-1" href="{% url 'course_det' %}">Faculty of art</a>
                                        </div>
                                        <p class="title"><a href="{% url 'course_det' %}">Educational technology and mobile learning</a></p>
                                        <a class="read-more" href="{% url 'course_det' %}">Read More</a>
                                    </div>
                                    <!-- Blog Content End -->
                                </div>
                                <!-- Single Blog End -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Single Blog Start -->
                                <div class="single-blog">
                                    <!-- Blog Content Start -->
                                    <div class="blog-content">
                                        <div class="blog-author-category">
                                            <a class="category color-1" href="{% url 'course_det' %}">Faculty of art</a>
                                        </div>
                                        <p class="title"><a href="{% url 'course_det' %}">Educational technology and mobile learning</a></p>
                                        <a class="read-more" href="{% url 'course_det' %}">Read More</a>
                                    </div>
                                    <!-- Blog Content End -->
                                </div>
                                <!-- Single Blog End -->
                            </div>
                        </div>
                    </div>
                    <!-- Blog Wrapper End -->
                </div>
            </div>
        </div>

        <!-- Blog End -->


        

         <!-- Team Start -->
         <div class="section team-2-section section-padding">
            <div class="container">
                <!-- Team Wrapper Start -->
                <div class="team-wrapper">      
                    <!-- Section Title Start -->
                    <div class="section-title section-devider">
                        <h2 class="title text-center ">Team</h2>
                    </div>
                    <!-- Team Item Wrapper Start -->
                    <div class="team-2-item-wrapper our-team-wrap">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Single Team Start -->
                                <div class="single-team">
                                    <div class="team-img">
                                        <a href="#"><img src="{% static 'assets/images/team/team-1.jpg' %}" alt="team"></a>
                                    </div>
                                    <div class="team-content">
                                        <div class="team-name-deg">
                                            <h5 class="name"><a href="#">Tomas Bata</a></h5>
                                            <span class="team-deg">Economy</span>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!-- Single Team End -->
                            </div>        
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Single Team Start -->
                                <div class="single-team">
                                    <div class="team-img">
                                        <a href="#"><img src="{% static 'assets/images/team/team-1.jpg' %}" alt="team"></a>
                                    </div>
                                    <div class="team-content">
                                        <div class="team-name-deg">
                                            <h5 class="name"><a href="#">Tomas Bata</a></h5>
                                            <span class="team-deg">Economy</span>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!-- Single Team End -->
                            </div>        
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Single Team Start -->
                                <div class="single-team">
                                    <div class="team-img">
                                        <a href="#"><img src="{% static 'assets/images/team/team-1.jpg' %}" alt="team"></a>
                                    </div>
                                    <div class="team-content">
                                        <div class="team-name-deg">
                                            <h5 class="name"><a href="#">Tomas Bata</a></h5>
                                            <span class="team-deg">Economy</span>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!-- Single Team End -->
                            </div>        
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Single Team Start -->
                                <div class="single-team">
                                    <div class="team-img">
                                        <a href="#"><img src="{% static 'assets/images/team/team-1.jpg' %}" alt="team"></a>
                                    </div>
                                    <div class="team-content">
                                        <div class="team-name-deg">
                                            <h5 class="name"><a href="#">Tomas Bata</a></h5>
                                            <span class="team-deg">Economy</span>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!-- Single Team End -->
                            </div>        
                        </div>
                    </div>
                    <!-- Team Item Wrapper End -->
                </div>
                <!-- Team Wrapper End -->
            </div>
        </div>
        <!-- Team End -->



    

      {% endblock %}