{% extends 'base.html' %}
{% load static %}

{% block title %}
   Team
{% endblock %}

{% block body %}
        <!-- Page Banner Start -->
        <div class="section page-banner-section" style="background-image: url({% static 'assets/images/bg/banner-img.jpg' %});">
            <div class="container">
                <!-- Page Banner Wrapper Start -->
                <div class="page-banner-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Page Banner Content Start -->
                            <div class="page-banner text-center">
                                <h2 class="title">Our Team</h2>
                                <ul class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Our Team</li>
                                </ul>
                            </div>
                            <!-- Page Banner Content End -->
                        </div>
                    </div>
                </div>
                <!-- Page Banner Wrapper End -->
            </div>
        </div>
        <!-- Page Banner End -->

        <!-- Team Start -->
        <div class="section team-2-section section-padding">
            <div class="container">
                <!-- Team Item Wrapper Start -->
                <div class="team-2-item-wrapper our-team-wrap">
                    <div class="row">
                        {% if team %}
                        {% for t in team %}
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <!-- Single Team Start -->
                            <div class="single-team">
                                <div class="team-img">
                                    <a href="#"><img src="{{t.team_img}}" class="img-thumbnail" alt="team"></a>
                                </div>
                                <div class="team-content">
                                    <div class="team-name-deg">
                                        <h5 class="name"><a href="#">{{t.name}}</a></h5>
                                        <span class="team-deg">{{t.dept}}</span>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- Single Team End -->
                        </div>
                        {% endfor  %}
                        {% endif %} 
                        
                    </div>
                </div>
                <!-- Team Item Wrapper End -->
            </div>
        </div>
       
        <!-- Team End -->

     {% endblock %}